# Milvus
MILVUS_HOST=milvus
MILVUS_PORT=19530
MILVUS_COLLECTION=enterprise_rag_demo

# LLM
LLM_BASE_URL=https://api.deepseek.com/v1
LLM_API_KEY=sk-xxx
LLM_MODEL=deepseek-chat

# Embedding
EMBEDDING_MODEL=BAAI/bge-m3-embedding

# App
APP_PORT=8000
INGEST_FOLDER=/app/test_data
